fail_fast: true
repos:
-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        verbose: true
-   repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        verbose: true
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        verbose: true
        additional_dependencies: ['flake8-pyproject', 'flake8-class-attributes-order']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        verbose: true
-   repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        verbose: true